/* Réglages primaires */
html {
  background-color: #EBECF0;
}

body, p, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

body, p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}

/* Réglages zones de la page */
.titre {
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
}

.partie-gauche {
  width: 50vh;
}

  .mois, .anniversaire {

  }

  .groupe-montant {

  }

  .zone-bouton {

  }


.partie-droite {
  width: 50vh;
  margin: 10px;
  padding: 5px;
}




/* Réglages esthetique titre montant */
label {
  display: flex;
  flex: 1;
  margin-bottom: 24px;
  width: 60%;
}


/* Réglages esthetique input -> case pour les montants */
input {
  border: 0;
  /* outline: 0; */
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;

  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

/* Réglages espace zone-bouton -> img et boutons - et + */
.zone-bouton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


/* Réglages esthetique buttons -> boutons - et + et Calculer */
button {
  border: 0;
  /* outline: 0; */
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;

  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}


/* Réglages boutons - et + */
button.unite {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
  margin-right: 0;
}


/* Réglages bouton Calculer */
button.bleu {
  display: block;
  width: 100%;
  color: #004ace;
}




